.Legend {
    background-color: yellow;
    border: solid 5px brown;

    margin: 5%;
    padding: 1%;

    height: 30vh;
    width: 20vw;

    position: relative;
    left: -4%;

    overflow-y: scroll;
    scroll-behavior: auto;

    font-size: 1.25vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

