.BioCoastlineOuterCloseup {
    background: linear-gradient(90deg, #87cefa, #4e90b9,  #7eafce, #5a87a3);
    background-blend-mode: soft-light;
    background-size: 400% 400%;

    animation: gradient 20s ease infinite;
    -moz-animation: gradient 20s ease infinite;
    -webkit-animation: gradient 20s ease infinite;

    border-radius: 360px 150px 285px 270px;

    margin: 5vw;
    padding: 1.5vw;

    position: fixed;
    top: -2%;
    right: 12%;
    z-index: 2;
}

@keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    25% {
        background-position: 50% 0;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 75%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  @-moz-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.BioCoastlineInnerCloseup {
    border: dashed 0.3vw brown;
    border-radius: 360px 150px 285px 270px;

    padding: 1.5vw;
}

.BioContinentCloseup {
    background: linear-gradient(180deg, #c99f68, #d2b48c,  #ceb696);
    background-blend-mode: soft-light;
    background-size: 100% 100%;

    border: solid 0.40vw brown;
    border-radius: 360px 150px 285px 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    padding: .5vw;
    height: 70vh;
    width: 60vw;

    font-size: 1.25vw;
}

.BioContainer {
  display: flex;
  align-items: center;
  padding: 3vw;  
}

.BioContent {
    border-radius:  1vw 1vw 1vw 1vw;

    margin: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;

    height: 50%;
    
    overflow-y: scroll;
    scroll-behavior: auto;
    
    font-size: 1.3vw;
    text-align: justify;
}

.BioPhoto {
  border-radius: 50%;
  width: 35%;
}

.BioButton {
  background-color: black;
  color: silver;
  padding: 1%;
  border-radius: 50px;
  outline: none;
}
