.ContinentAlt {
    background-color: tan;
    
    border: solid 3px brown;
    border-radius:  90px 70px 125px 75px;

    height: 150px;
    width: 200px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CoastlineInner {
    background: lightskyblue;
    
    border: dashed 2px brown;
    border-radius: 90px 70px 125px 75px;

    padding: 5px;

    height: fit-content;
}

.CoastlineOuter {
    background: lightskyblue;

    border-radius: 90px 70px 125px 75px;

    margin: 5vw;
    padding: 5px;

    position: relative;
}


.ContinentCloseup {
    background-color: tan;
    
    border: solid 3px brown;
    border-radius: 270px 210px 375px 225px;

    height: 450px;
    width: 600px;

    padding: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    top: 10%;
    right: 30%;
    z-index: 1;   
}

.CoastlineInnerCloseup {
    background: lightskyblue;
    
    border: dashed 2px brown;
    border-radius: 270px 210px 375px 225px;

    padding: 5px;

    height: fit-content;

    position: fixed;
    top: 10%;
    right: 30%;
    z-index: 2;   
}

.CoastlineOuterCloseup {
    background: lightskyblue;

    border-radius: 270px 210px 375px 225px;

    margin: 5vw;
    padding: 5px;

    position: relative;
    top: 10%;
    right: 30%;
    z-index: 1;
}
