.ContinentContainer {
    position: relative;
    height: 35vh;
    width: 30vw;
}

.CoastlineOuter {
    background: lightskyblue;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    width: fit-content;
}

.CoastlineInner {
    background: lightskyblue;
    border: dashed 2px brown;
    border-radius: 50px;

    padding: 5px;
}

.ContinentGroup {
    background-color: tan;
    border: solid 3px brown;
    border-radius:  50px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;
    width: 200px;

    text-align: center;
}
