.Continent {
    background-color: tan;
    color: black;
    
    border: solid 3px brown;
    border-radius: 50px;

    height: 150px;
    width: 200px;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

