.Island {
    background-color: tan;

    border: solid 2px brown;
    border-radius: 50px;;

    height: 75px;
    width: 75px;

    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}