.IslandContainer {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.CoastlineOuter {
    background: lightskyblue;

    border-radius: 50px;

    padding: .4vw;
}

.CoastlineInner {
    border: dashed 1px brown;
    border-radius: 50px;

    padding: .4vw;
}

.Island {
    background-color: tan;
    border: solid 2px brown;
    border-radius: 50px;;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 12vh;
    width: fit-content;

    font-size: 1.25vw;
    text-align: center;
}

.IslandTitle {
    padding: 1vw;
}